{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- facveicon -->
    <link rel="shortcut icon" href="{% static './img/logo.jpg' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- font awsome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- custom css file -->
    <link rel="stylesheet" href="{% static './css/admissionForm.css' %}">

    <title>Admission</title>
</head>

<body>

    <!-- main section  -->

    <main class="mb-5">
        <div class="head-title">
            <div class="container text-center mt-5">
                <div class="logo-part">
                    <img src="{% static './img/logo.jpg' %}" alt="Brilliant Academy logo">
                </div>
                <div class="title">
                    <h1>Brilliant Academy</h1>
                    <h3>Onine Admission Form</h3>
                </div>
            </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>success</strong>well done
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </ul>
        {% endif %}

        <section class="admissonForm">
            <div class="container">
                <div class="admission-info">
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                            aria-label="Warning:">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                        Please fill up the form responsively with correct information. Once submitted can't be changed.
                    </p>
                </div>
                <div class="admission-form">
                    <div class="form-class10">
                        <form class="row g-3 needs-validation" novalidate method="POST" action="/admission/"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row section-1">
                                <h3>Last Qualifying examination detail</h3>

                                <!-- name of the school -->
                                <div class="col-md-5">
                                    <label for="validationCustom01" class="form-label">Name of the school*</label>
                                    <input type="text" name="pastschool" class="form-control" id="validationCustom01"
                                        required placeholder="Name of the school attended">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- examination passes -->
                                <div class="col-md-3">
                                    <label for="validationCustom02" class="form-label">Examination Passed Year*</label>
                                    <input type="month" name="passedexam" class="form-control" id="validationCustom02"
                                        required>
                                    <div class="invalid-feedback">
                                        This field is required
                                    </div>
                                </div>

                                <!-- roll no. -->
                                <div class="col-md-2">
                                    <label for="validationCustomUsername" class="form-label">Roll</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" name="roll" id="validationCustomUsername"
                                            aria-describedby="inputGroupPrepend" required placeholder="Roll no.">
                                        <div class="invalid-feedback">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label for="validationCustomUsername" class="form-label">Number</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" name="no" id="validationCustomUsername"
                                            aria-describedby="inputGroupPrepend" required placeholder="Roll no.">
                                        <div class="invalid-feedback">
                                            This field is required
                                        </div>
                                    </div>
                                </div>

                                <!-- select board -->
                                <div class="col-md-6 mt-3">
                                    <label for="validationCustom04" class="form-label">Select Your Qualified
                                        Board*</label>
                                    <select class="form-select" name="board_qualified" id="validationCustom04" required>
                                        <option disabled selected value="">Choose..</option>
                                        <option value="SEBA">SEBA</option>
                                        <option value="CBSE">CBSE</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid Board.
                                    </div>
                                </div>

                                <!-- admit card upload  -->
                                <div class="col-md-6 mt-3">
                                    <label for="validationCustom03" class="form-label">Upload Admit card*</label>
                                    <input type="file" name="admitcard" class="form-control" aria-label="file example"
                                        required>
                                    <div class="invalid-feedback">This field is required</div>
                                </div>
                            </div>

                            
                            <!-- ================================= admision detail section ================================ -->
                            <div class="row section-2 mt-4">
                                <h3>Admission details</h3>

                                <!-- ------------------------------ subjects ---------------------------- -->
                                <div class="row streams">
                                    <div class="col-lg-4 col-sm-6 col-md-12">
                                        <div class="stream-1">
                                            <div class="form-check mb-3">
                                                <input type="radio" class="form-check-input" name="stream"
                                                    id="in_science" required value="Integrated">
                                                <label class="form-check-label" for="stream_in">Integrated
                                                    Science</label>
                                            </div>
                                            <div class="subjects-int container">
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subject_in" value="MIL"
                                                        class="form-check-input" id="MIL" required
                                                        checked disabled>
                                                    <label class="form-check-label"
                                                        for="MIL">MIL (compulsory)</label>
                                                </div>
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subject_in" value="English"
                                                        class="form-check-input" id="English" required
                                                        checked disabled>
                                                    <label class="form-check-label"
                                                        for="English">English (compulsory)</label>
                                                </div>

                                                <div class="form-check mb-3 container">
                                                    <input type="checkbox" value="Medical" class="form-check-input" name="subject_in"
                                                        id="Medical" required disabled>
                                                    <label class="form-check-label"
                                                        for="Medical">Medical</label>
                                                        <div class="medical_subjects container">
                                                            <li>Physics</li>
                                                            <li>Chemistry</li>
                                                            <li>Biology</li>
                                                    </div>
                                                </div>

                                                <div class="form-check mb-3 container">
                                                    <input type="checkbox" value="Engineering" class="form-check-input" name="subject_in"
                                                        id="Engineering" required disabled>
                                                    <label class="form-check-label"
                                                        for="Engineering">Engineering</label>
                                                        <div class="medical_subjects container">
                                                            <li>Physics</li>
                                                            <li>Chemistry</li>
                                                            <li>Maths</li>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-md-12">
                                        <div class="stream-2">
                                            <div class="form-check mb-3">
                                                <input type="radio" class="form-check-input" name="stream"
                                                    id="gs_science" required value="General Science">
                                                <label class="form-check-label" for="validationFormCheck1">Genral
                                                    Science</label>
                                                <div class="subjects_gs container">
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="subject_gs" value="MIL"
                                                            class="form-check-input subject_gs" id="MIL" required
                                                            checked disabled>
                                                        <label class="form-check-label"
                                                            for="MIL">MIL (compulsory)</label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="subject_gs" value="English"
                                                            class="form-check-input subject_gs" id="English" required
                                                            checked disabled>
                                                        <label class="form-check-label"
                                                            for="English">English (compulsory)</label>
                                                    </div>  
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="subject_gs" value="Physics"
                                                            class="form-check-input subject_gs" id="Physics" required disabled>
                                                        <label class="form-check-label"
                                                            for="Physics">Physics</label>
                                                    </div>  
                                                    
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="subject_gs" value="Chemistry"
                                                            class="form-check-input subject_gs" id="Chemistry" required disabled>
                                                        <label class="form-check-label"
                                                            for="Chemistry">Chemistry</label>
                                                    </div>  
                                                    
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="MorA" value="Maths"
                                                            class="form-check-input subject_gs" id="Maths" required disabled>
                                                        <label class="form-check-label"
                                                            for="Maths">Maths</label>
                                                    </div>  
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="MorA" value="Antroplogy"
                                                            class="form-check-input subject_gs" id="Antroplogy" required disabled>
                                                        <label class="form-check-label"
                                                            for="Antroplogy">Antroplogy</label>
                                                    </div>  
                                                    
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="BorE" value="Biology"
                                                            class="form-check-input subject_gs" id="Biology" required disabled>
                                                        <label class="form-check-label"
                                                            for="Biology">Biology</label>
                                                    </div>  

                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="BorE" value="Statistics"
                                                            class="form-check-input subject_gs" id="statistics" required disabled>
                                                        <label class="form-check-label"
                                                            for="Biology">Statistics</label>
                                                    </div>  
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" name="BorE" value="Economics"
                                                            class="form-check-input subject_gs" id="Economics" required disabled>
                                                        <label class="form-check-label"
                                                            for="Economics">Economics</label>
                                                    </div>  
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-md-12">
                                        <div class="stream-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" class="form-check-input" name="stream"
                                                    id="arts" required value="Arts">
                                                <label class="form-check-label" for="validationFormCheck1">Arts</label>
                                            </div>

                                            <div class="subjects_ar container">
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="MIL"
                                                        class="form-check-input subject_ar" id="MIL_ar" required
                                                        checked disabled>
                                                    <label class="form-check-label"
                                                        for="MIL_ar">MIL (compulsory)</label>
                                                </div>
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="English"
                                                        class="form-check-input subject_ar" id="English_ar" required
                                                        checked disabled>
                                                    <label class="form-check-label"
                                                        for="English_ar">English (compulsory)</label>
                                                </div>  
                                                
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Political Science"
                                                        class="form-check-input subject_ar" id="Political_Science" required disabled onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Political_Science">Political Science</label>
                                                </div>  
                                                
                                                
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Economics"
                                                        class="form-check-input subject_ar" id="Economy" required disabled onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Economy">Economics</label>
                                                </div> 

                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Geography"
                                                        class="form-check-input subject_ar" id="Geography" required disabled onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Economy">Geography</label>
                                                </div>  
                                                
                                                
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Education"
                                                        class="form-check-input subject_ar" id="Education" required disabled onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Education">Education</label>
                                                </div>  
                                                
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Logic and Philosophy"
                                                        class="form-check-input subject_ar" id="Logic_and_Philosophy" required disabled onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Logic_and_Philosophy">Logic and Philosophy</label>
                                                </div>  
                                                
                                                
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Anthropology"
                                                        class="form-check-input subject_ar" id="Anthropology" required onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Anthropology">Anthropology</label>
                                                </div>  
                                                
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" name="subar" value="Sociology"
                                                        class="form-check-input subject_ar" id="Sociology" required onclick = 'return limit_click()'>
                                                    <label class="form-check-label"
                                                        for="Sociology">Sociology</label>
                                                </div>  
                                                <div class="mb-2" id="message"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" name="line" id="slected_stream" placeholder="Stream taken" readonly>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" name="subjects" id="slected_subjects" placeholder="Subject taken" readonly>
                                        </div>
                                    </div>
                                </div>


                                <!-- name of the student  -->
                                <div class="col-md-8 mt-3">
                                    <label for="studentname" class="form-label">Name of the student(Should be
                                        same as HSLC certificate)*</label>
                                    <input type="text" name="studentname" class="form-control" id="studentname" required
                                        placeholder="Enter name here">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>


                                <!-- date of birth of the student  -->
                                <div class="col-md-4 mt-3">
                                    <label for="DOB" class="form-label">Your Date Of Birth (as per HSLC
                                        certificate)*</label>
                                    <input type="date" class="form-control" id="DOB" required name="dateofbirth">
                                    <div class="invalid-feedback">
                                        This field is required
                                    </div>
                                </div>

                                <!-- nationality -->
                                <div class="col-md-4 mt-3">
                                    <label for="Nationality" class="form-label">Nationality*</label>
                                    <input type="text" name="nationality" class="form-control" id="Nationality" required
                                        placeholder="Student nationality">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- religion -->
                                <div class="col-md-4 mt-3">
                                    <label for="Religion" class="form-label">Religion*</label>
                                    <input type="text" name="religion" class="form-control" id="Religion" required
                                        placeholder="Student religion">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- caste -->
                                <div class="col-md-4 mt-3">
                                    <label for="caste" class="form-label">Caste*</label>
                                    <select class="form-select" name="caste" id="caste" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="General">General</option>
                                        <option value="OBC">OBC</option>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid state.
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <label for="caste" class="form-label">Gender*</label>
                                    <select class="form-select" name="gender" id="caste" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="Male">Male</option>
                                        <option value="OBC">Female</option>
                                        <option value="SC">Other</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid state.
                                    </div>
                                </div>

                                <!-- ---------------------------- father's section ------------------------ -->

                                <!-- fathers name -->
                                <div class="col-md-12 mt-3">
                                    <label for="fathername" class="form-label">Fathers name*</label>
                                    <input type="text" name="fathername" class="form-control" id="fathername" required
                                        placeholder="Enter father's name">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- father's occupation -->
                                <div class="col-md-6 mt-3">
                                    <label for="fatheroccupation" class="form-label">Father's occupation</label>
                                    <input type="text" name="fatheroccupation" class="form-control"
                                        id="fatheroccupation" required placeholder="Enter father's occupation">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- father's annual income -->
                                <div class="col-md-6 mt-3">
                                    <label for="fatherincome" class="form-label">Father's Annual Income</label>
                                    <select class="form-select" name="fatherannualincome" id="caste" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="below 3 lakh">below 3 lakh</option>
                                        <option value="between 3 - 6 lakh">between 3 - 6 lakh</option>
                                        <option value="above 6 lakh">above 6 lakh</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- ---------------------------- mother's section ---------------------------------- -->
                                <!-- mothers name -->
                                <div class="col-md-12 mt-3">
                                    <label for="mothername" class="form-label">Mother's name*</label>
                                    <input type="text" name="mothername" class="form-control" id="mothername" required
                                        placeholder="Enter mother's name">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- mothers's occupation -->
                                <div class="col-md-6 mt-3">
                                    <label for="motheroccupation" class="form-label">Mother's occupation</label>
                                    <input type="text" name="motheroccupation" class="form-control"
                                        id="fatheroccupation" required placeholder="Enter Mother's occupation">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- mother's annual income -->
                                <div class="col-md-6 mt-3">
                                    <label for="motherincome" class="form-label">Mother's Annual Income</label>
                                    <select class="form-select" name="motherannualincome" id="caste" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="below 3 lakh">below 3 lakh</option>
                                        <option value="between 3 - 6 lakh">between 3 - 6 lakh</option>
                                        <option value="above 6 lakh">above 6 lakh</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>


                                <!-- original address -->

                                <!-- address  -->
                                <div class="mb-3 mt-3">
                                    <label for="validationTextarea" class="form-label">Student's Address*</label>
                                    <textarea class="form-control" name="address1" id="validationTextarea"
                                        placeholder="Student's Address" required></textarea>
                                    <div class="invalid-feedback">
                                        This Field is Required
                                    </div>
                                </div>

                                <!-- email-->
                                <div class="col-md-12 mt-3">
                                    <label for="postoffice" class="form-label">Email*</label>
                                    <input type="email" class="form-control" value="{{email}}" id="postoffice" required disabled
                                        placeholder="Enter your email">
                                    <div class="invalid-feedback">
                                        Provide a Valid email
                                    </div>
                                </div>

                                <!-- post office -->
                                <div class="col-md-4 mt-3">
                                    <label for="postoffice" class="form-label">P.O.*</label>
                                    <input type="text" name="postoffice" class="form-control" id="postoffice" required
                                        placeholder="Enter your P.O.">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- phone Number -->
                                <div class="col-md-4 mt-3">
                                    <label for="phNumber" class="form-label">Phone Number*</label>
                                    <input type="tel" name="phoneNumber" class="form-control" id="phNumber" required
                                        placeholder="Enter your phone number" value="{{phone}}" disabled>
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <!-- zip -->
                                <div class="col-md-4 mt-3">
                                    <label for="pin" class="form-label">PIN*</label>
                                    <input type="text" name="pincode" class="form-control" id="pin" required
                                        placeholder="Enter your pin">
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                                <div class="col-md-6 mt-3">
                                    <label for="motherincome" class="form-label">Hostel*</label>
                                    <select class="form-select" name="hostel" id="caste" required>
                                        <option selected disabled value="">Choose...</option>
                                        <option value="YES">YES</option>
                                        <option value="NO">NO</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        This Field is required
                                    </div>
                                </div>

                            </div>

                            <div class="row section-3 mt-4">
                                <h3>
                                    Upload Documents
                                </h3>

                               
                                <!-- student passport size photo -->
                                <div class="col-md-4 mt-3 mb-3">
                                    <label for="photo" class="form-label">Student Passport size
                                        photo*</label>
                                    <input type="file" name="stuPhoto" class="form-control" aria-label="file example"
                                        required>
                                    <div class="invalid-feedback">This field is required</div>
                                </div>
                            </div>


                            <div class="col-12 mt-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        I hereby assure that every detail provided by me are 100% official and correct
                                        to the best of my knowledge and will abide by the rule and regulatoin of the
                                        college
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>

                            <!-- submit btn  -->
                            <div class="mb-3 mt-5">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>


                            <div class="info-para text-center">
                                <p>For any admission related query student can contact our authority. <a href="#">Click
                                        here</a> to visit our contact page</p>
                                <p>Powered by <a href="#">Adon</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- main section  -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    </script>
    <script src="{% static './js/admission.js' %}"></script>

</body>

</html>