{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- facveicon -->
    <link rel="shortcut icon" href="{% static './img/logo.jpg' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- font awsome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- animate on scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- owl_carousal css file -->
    <link rel="stylesheet" href="{% static './vandor/owl_carousal/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static './vandor/owl_carousal/css/owl.theme.default.min.css' %}">

    <!-- custom css file -->
    <link rel="stylesheet" href="{% static './css/style.css' %}">

    <title>Home</title>
</head>

<body>

    <!-- header area  -->

    <header class="header">
       {% include "components/navbar.html" %}
        <div class="hero-image">
            <div class="container">
                <div class="hero-content">
                    <div class="hero-text">
                        <h1 class="ml10">
                            <span class="text-wrapper">
                                <div data-aos="zoom-in">
                                    <span class="letters">
                                        <span>Welcome to</span> <br>
                                        Brilliant Academy
                                    </span>
                                </div>
                            </span>
                        </h1>
                    </div>
                    <div class="hero-para">
                        <p class="ml11">
                            <span class="text-wrapper">
                                <span class="letters">A Senior Secondary School Of Science And
                                    Arts, Under Brilliant Educational Trust.</span>
                            </span>
                        </p>
                    </div>
                    <div class="hero-button mt-4" data-aos="fade-up" data-aos-duration='1000'>
                        {% if user.is_admission_taken == True and user.is_paid == False %}
                            <a href="/pay/">Pay my fees</a>
                        {% elif user.is_admission_taken == True and user.is_paid == True %}
                            <a  href="/show_pdf/">Download pdf</a>
                        {% else %}
                        <a href="{% url 'admission' %}">Apply now</a>
                        {% endif %}
                    </div>
                </div>
                <div class="datetime">
                    <h6>
                        <span id="date"></span>
                        <span id="Month"></span>
                        <span id="year"></span>
                    </h6>
                </div>
            </div>
        </div>
    </header>
    <!-- header area  -->


    <marquee class="scroll-text text-center" direction="left" loop>
        <p>Admission for Higher Secondary 1st year students for both Science and Arts is open. <a class="link-light"
                href="/admission_procedure/"> click here </a> to know more </p>
    </marquee>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show container message" role="alert" data-aos="float-right">
          <strong>Message : </strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- main area  -->
    <main>

        <!-- section -1  -->
        <section class="section-1">
            <div class="container">
                <div class="quick-start">
                    <h1 class="head-text">
                        Quick start
                    </h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card" id="card-1" data-aos="zoom-in" data-aos-delay="100"
                                data-aos-duration="700">
                                <div class="icon">
                                    <img src="{% static './img/icons/Feculity.svg' %}" alt="teachers" loading='lazy'>
                                </div>
                                <div class="heading">
                                    <h2>Our Departments and Faculties</h2>
                                </div>
                                <div class="below-text">
                                    Have a look at our group of faculities
                                </div>
                                <div class="button">
                                    <a href="/faculity/">Know More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card" id="card-2" data-aos="zoom-in" data-aos-delay="200"
                                data-aos-duration="700">
                                <div class="icon">
                                    <img src="{% static './img/icons/Gallery.svg' %}" alt="teachers" loading='lazy'>
                                </div>
                                <div class="heading">
                                    <h2>College Gallery</h2>
                                </div>
                                <div class="below-text">
                                    Some memories to share with you
                                </div>
                                <div class="button">
                                    <a href="/gallery/">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card" id="card-1" data-aos="zoom-in" data-aos-delay="300"
                                data-aos-duration="700">
                                <div class="icon">
                                    <img src="{% static './img/icons/Admission.svg' %}" alt="teachers" loading='lazy'>
                                </div>
                                <div class="heading">
                                    <h2>Admission Process</h2>
                                </div>
                                <div class="below-text">
                                    Know how you can apply for admissions.
                                </div>
                                <div class="button">
                                    <a href="/admission_procedure/">Know More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12" data-aos="zoom-in" data-aos-delay="400"
                            data-aos-duration="700">
                            <div class="card" id="card-1">
                                <div class="icon">
                                    <img src="{% static './img/icons/AboutUs.svg' %}" alt="about" loading='lazy'>
                                </div>
                                <div class="heading">
                                    <h2>About Us</h2>
                                </div>
                                <div class="below-text">
                                    Know who we are and what is our mission
                                </div>
                                <div class="button">
                                    <a href="/about/">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section -1  -->



        <!-- section 2 -->
        <section class="section-2">
            <div class="about-announcement">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="about-description">
                                <h1 class="head-text-about">
                                    About Us
                                </h1>
                                <p class="para">
                                    Brilliant Academy, A senior secondary school of Science and Arts, established in
                                    2017, has triumphantly accomplished the task of creating a significant mark among
                                    the well-established institutions of the town. With an éclat of 100% result in the
                                    last AHSEC Final Examination, the Academy has successfully instilled in its students
                                    the ability to discover their individual identity that would not only make them
                                    sensible but capable enough to contribute to the larger umbrella of world’s growth
                                    and development. With the best teaching brains, we are committed to provide the best
                                    assistance possible for the progress of the students. We are bent on exploiting the
                                    strengths of each of our students to the hilt and to divert each of their weakness
                                    into positive direction instilling a value system.
                                </p>
                                <div class="about-button">
                                    <a href="/about/">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="announcement">
                                <h2 class="announcement-head">Announcements</h2>
                                {% for i in firstfour %}
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="alert alert-info an-info" role="alert" data-aos="fade-right"
                                        data-aos-delay=400">
                                        <h1 class="title">
                                            <div class="row">
                                                <div class="col-mg-6 col-sm-6 col-md-6">
                                                    {{i.subject}}
                                                </div>
                                                <div class="col-mg-6 col-sm-6 col-md-6">
                                                    <small class="text-muted"><i>{{i.date_Added}}</i></small>
                                                </div>
                                            </div>
                                        </h1>
                                        <p class="para-an">
                                            {{i.body | slice:":100" }}...
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="button">
                                    <a href="/announcement/" class="btn btn-primary">View all announcements</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section 2 -->


        <!-- section 3  -->
        <section class="section-3">
            <div class="container">
                <div class="alert alert-primary alert-dismissible fade show an1-info" role="alert" data-aos="fade-right"
                    data-aos-delay=1200">
                    <h4 class="title">
                        <strong> Admissions is open </strong>
                    </h4>
                    <p class="para-an">
                        Admission process for HS 1st year students is open now <a href="/admission/"
                            class="alert-link">Click this
                            link</a> to apply for online admission now.
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </section>
        <!-- section 3 -->


        <!-- section 4 -->
        <section class="section-4">
            <div class="container">
                <div class="head-section-4">
                    <h1>
                        Some Special Moments
                    </h1>
                </div>
                <div class="photos">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static './img/specialmoments/specialMoments7.jpg' %}" class="d-block w-100" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static './img/specialmoments/specialMoments8.jpg' %}" class="d-block w-100" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static './img/specialmoments/specialMoments3.jpg' %}" class="d-block w-100" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static './img/specialmoments/specialMoments1.jpg' %}" class="d-block w-100" alt="image">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="gallery-button">
                    <a href="{% url 'gallery' %}">View Photo Gallery <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </section>
        <!-- section 4 -->


        <!-- section 5 -->
        <section class="section-5">
            <div class="container py-lg-5">
                <div class="head-section-5">
                    <h1 class="title-section-4 text-center">
                        Welcome Message
                    </h1>
                </div>
                <div class="owl-carousel owl-theme authority">
                    <div class="teachers row" data-aos="zoom-in">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="teacher-image">
                                <img src="{% static './img/teachers/Pradip_Gogoi.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-st text-uppercase">Mr. Pradip Gogoi</h4>
                            <p class="post">Principal</p>
                            <p class="para">
                                Dear Parents and Students, <br>
                                It gives me immense joy to present the overview of the experiential learning. <br>
                                <a class="link-warning" href="{% url 'authority_messages' %}" style="text-decoration: none;">Read More</a>
                            </p>
                        </div>
                    </div>
                    <div class="teachers row" data-aos="zoom-in">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="teacher-image">
                                <img src="{% static './img/teachers/arun_kr_bordoloi.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-st text-uppercase">Dr. Arun kr Bordoloi</h4>
                            <p class="post">Academic Director</p>
                            <p class="para">
                                We are very happy and thrilled to be partnering with you in establishing an exciting
                                educational journey <br>
                                <a class="link-warning" href="{% url 'adMsg' %}" style="text-decoration: none;">Read More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section 5 -->

        <!-- section-7 -->
        <section class="section-7">
            <div class="container py-lg-5">
                <div class="head-section-7">
                    <h1 class="title-section-4 text-center">
                        Our Academic Achievements
                    </h1>
                </div>
                <div class="owl-carousel owl-theme authority">
                    <div class="achivement row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="st-image">
                                <img class="image-fluid w-100" src="{% static './img/achivements/JADAB_KRISHNA_BORAH.jpg' %}" alt="Jadab Krishna Borah">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-ac text-capitelize ">Jadab Krishna Borah</h4>
                            <p class="achivement-name">JEE Mains, NIIT Silchar</p>
                            <p class="para">
                                Student from Brilliant Academy North Lakhimpur cleared JEE Main with a AIR of 4.
                                Congratulation
                                and best wishes to Jadab Krishna Borah.
                            </p>
                        </div>
                    </div>
                    <div class="achivement row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="st-image">
                                <img class="image-fluid w-100" src="{% static './img/achivements/NISANKA_DUTTA.jpg' %}" alt="Nisanka Dutta">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-ac text-capitelize">Nisanka Dutta</h4>
                            <p class="achivement-name">JEE Mains, CEE</p>
                            <p class="para">
                                Student from Brilliant Academy North Lakhimpur cleared JEE Mains and CEE examination.
                                Congratulation
                                and best wishes to Nisanka Dutta.
                            </p>
                        </div>
                    </div>
                    <div class="achivement row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="st-image">
                                <img class="image-fluid w-100" src="{% static './img/achivements/LAKHYAJIT_NATH.jpg' %}" alt="Lakhyahit Nath">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-ac text-capitelize">Lakhyajit Nath</h4>
                            <p class="achivement-name">CEE</p>
                            <p class="para">
                                Student from Brilliant Academy North Lakhimpur cleared CEE examination. Congratulation
                                and best wishes to Lakhyajit Nath.
                            </p>
                        </div>
                    </div>
                    <div class="achivement row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="st-image">
                                <img class="image-fluid w-100" src="{% static './img/achivements/KALPAJYOTI_SAIKIA.jpg' %}" alt="Kalpajyoti Saikia">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-ac text-capitelize">Kalpajyoti Saikia</h4>
                            <p class="achivement-name">CEE</p>
                            <p class="para">
                                Student from Brilliant Academy North Lakhimpur cleared CEE examination. Congratulation
                                and best wishes to Kalpajyoti Saikia.
                            </p>
                        </div>
                    </div>
                    <div class="achivement row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="st-image">
                                <img class="image-fluid w-100" src="{% static './img/achivements/RUGUNG_DAIMARI.jpg' %}" alt="Rugung Daimari">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-ac text-capitelize">Rugung Daimari</h4>
                            <p class="achivement-name">JEE(Advance)</p>
                            <p class="para">
                                Student from Brilliant Academy North Lakhimpur cleared JEE(Advance) examination. Congratulation
                                and best wishes to Rugung Daimari.
                            </p>
                        </div>
                    </div>

                    <div class="achivement row">
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <div class="st-image">
                                <img class="image-fluid w-100" src="{% static './img/achivements/angsuman_datta.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <h4 class="name-ac text-capitelize">Angsuman Dutta</h4>
                            <p class="achivement-name">JEE(Advance)</p>
                            <p class="para">
                                Student from Brilliant Academy North Lakhimpur cleared JEE(Advance) examination. Congratulation
                                and best wishes to Angsuman Dutta.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section-7 -->

        <!-- section-8  -->
        <section class="section-8">
            <div class="container py-lg-5">
                <div class="head-section-8">
                    <h1 class="title-section-4 text-center">
                        Students feedbacks
                    </h1>
                </div>
                <div class="owl-carousel owl-theme feedback-content">
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/ACHINTA_NAYAN.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitalize">Achinita nayan Borah</h4>
                            <p class="feedback-para">
                                Teaching and learning at Brilliant Academy encourage students to think, question and to
                                analyse a topic very clearly. There is a good coordination between teachers and
                                students. The faculty members of this institute help the students in doubts clearing. I
                                am very proud of being a part of this institution.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/AFSANA_BEGUM.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitalize">Afsana Begum</h4>
                            <p class="feedback-para">
                                At Brilliant Academy, we are provided with excellent education as well as the perfect
                                environment suitable for learning. The high standards of learning are a credit to our
                                experienced teachers who are always enthusiastic about motivating us and leading us in
                                the right path. Here, our skills are enhanced so that we are confident in facing any
                                challenge that the future holds for us. I am really glad to be a part of Brilliant
                                Academy.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/AMY_PAMEHGAM.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Amy Pamehgam</h4>
                            <p class="feedback-para">
                                An institution which integrates social, physical ,mental and moral development of a
                                student with a high sense of value ,responsibilities &maturity is Brilliant Academy .Me
                                prefering B.A accelerated my booster, as teachers are to be appreciated for their
                                supportive behaviour.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/ANKUR_SAIKIA.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Ankur Saikia</h4>
                            <p class="feedback-para">
                                It is my privilege that I can learn under the guidance and care of the Brilliant Academy
                                family . The faculties are very helpful and maintain a healthy relationship with every
                                students. Everytime they are. available to clear our all doubt and concept. They guide
                                us as a mentor and giving a best suggestion for our better future.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/ARUNABH_SAIKIA.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Arunabh Saikia</h4>
                            <p class="feedback-para">
                                I am very happy and grateful that l got an opportunity to be a part of this institution
                                . The teachers very supportive and helpful. They take special care of all the students
                                as far their understanding abilities. Along with studies the institution also provides
                                special care for curricular activities in the form of annual sports week.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/KUNAL_DAS.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Kunal Das</h4>
                            <p class="feedback-para">
                                Being a part of this institution makes me proud and also it brings in me an inner sense
                                of satisfaction. The atmosphere that the teachers create while delivering knowledge,
                                wisdom and excellence grabs my attention .The best thing about the teachers that
                                overwhelms me a lot is that they are decent and they put their extreme efforts in
                                moulding students with character and knowledge.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/PIYA_MITRA.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Piya Mitra</h4>
                            <p class="feedback-para">
                                It is a matter of immense pleasure for me to be a part of such a magnificent institute.
                                The teachers here are not only good educators but exceptional mentors. The academy
                                provides an excellent ambience for overall personality development.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/PURUSUTTAM_BORUAH.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Purusuttam Boruah</h4>
                            <p class="feedback-para">
                                Teaching and learning at Brilliant Academy encourage students to think, question and to
                                analyse a topic very clearly. There is a good coordination between teachers and
                                students. The faculty members of this institute help the students in doubts clearing. I
                                am very proud of being a part of this institution.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/UDAY_THAPA.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Uday Thapa</h4>
                            <p class="feedback-para">
                                I'm very glad to be a part of this institution, Brilliant Academy. The teachers are very
                                conscious for our studies. Teachers help us to understand concept not to memorize like a
                                parrot The teachers also clear our every doubt at anytime.
                            </p>
                        </div>
                    </div>
                    <div class="feedback-box row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <div class="feedback-image">
                                <img class="image-fluid" src="{% static './img/feedback/UDIPTA_RAJKHOWA.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center feedback-info">
                            <h4 class=" text-capitelize">Udipta Rajkhowa</h4>
                            <p class="feedback-para">
                                I am glad to be a student of this institution. The teachers are very helpful, friendly
                                and always inspire us. I am thankful to this institution to provide us a peaceful
                                environment. Long live Brilliant Academy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section-8  -->


        <!-- section-9  -->
        <section class="section-9">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 map-area">
                        <div class="">
                            <div class="find-map">
                                <div class="title-find-us">
                                    <h1>Find Us</h1>
                                </div>
                            </div>
                            <div id="map"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="download-links-area">
                            <div class="d-sec-title">
                                <h1>Download links</h1>
                            </div>
                            <div class="download-links">
                                <li>Syllabus & Curriculum <i
                                        class="fas fa-long-arrow-alt-right"></i> <a href="https://www.ahsec.nic.in/Syllabus.html">Download syllabus</a></li>
                                <li>Our prospactus<i class="fas fa-long-arrow-alt-right"></i>
                                    <a href="{% static './img/files/Prospectus_brilliant_academy.pdf' %}" download>Download file</a>
                                </li>
                                <li>Download offline admission form<i class="fas fa-long-arrow-alt-right"></i>
                                    <a href="{% static './img/files/Briliant_Academy_Admission_Form.pdf' %}" download>Download file</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section-8  -->


    </main>
    <!-- main area  -->

    <!-- footer area -->
    {% include "components/footer.html" %}

    <!-- footer area -->

</body>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>


<!-- owl carousal js -->
<script src="{% static './vandor/owl_carousal/js/owl.carousel.min.js' %}"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"
    async></script>

<!-- animate on scroll -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<!-- custom js  -->
<script src="{% static './js/home.js' %}"></script>

</html>
