{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- facveicon -->
    <link rel="shortcut icon" href="{% static './img/logo.jpg' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- font awsome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- custom css file -->
    <link rel="stylesheet" href="{% static './css/authMsg.css' %}">

    <title>Message From administrative</title>
</head>

<body>

    <!-- header area  -->

    <header class="header">
        {% include 'components/navbar.html' %}
    </header>

    <!-- header area  -->

    <!-- main area  -->
    <main>

        <section class="msg">
            <div class="container">
                <div class="title-text text-center">
                    <h1>Message from administration</h1>
                </div>
                <div class="auth-message-area">
                    <div class="auth-img">
                        <div class="col-lg-4 col-sm-6 col-md-4">
                            <img class="image-fluid" src="{% static './img/teachers/arun_kr_bordoloi.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="message-area">
                        <h1 class="name text-capitalize">Message from Academic Director</h1>
                        <h4 class="writer-name text-capitalize">Dr. arun kr. bordoloi</h4>
                        <p class="message-body">
                            The private junior colleges ( now senior secondary schools) have been giving quality
                            education to the students in Assam for last few years. The strict discipline, punctuality
                            and the hard work of the teachers of the institutions are key factors for the success of the
                            students in these institutions.
                            With my more than 35 years of experience as college teacher I can read properly the minds of
                            many students and able to show them the way of success. Brilliant Academy in North
                            Lakhimpur, Assam is a brilliant institution ,shaped by few of my brilliant students with
                            very good academic career. The institution has been imparting quality education to the
                            students for last few years. I have all faith that in near future this institution would
                            become a prime learning centre in Assam.
                            A warm welcome to all new students, have got admitted to the college with high hope. I
                            assure that I will extend my help the students for their learning in this esteemed
                            institution.
                            Thanking you all
                        </p>
                    </div>
                </div>

                <div class="auth-message-area container">
                    <div class="auth-img">
                        <div class="col-lg-4 col-sm-6 col-md-4">
                            <img class="image-fluid" src="{% static './img/teachers/arupborah.jpeg' %}" alt="">
                        </div>
                    </div>
                    <div class="message-area">
                        <h1 class="name text-capitalize">Message from Managing Director</h1>
                        <h4 class="writer-name text-capitalize">arup kr. Borah</h4>
                        <p class="message-body">
                            I take this opportunity as the Managing Director of Brilliant Academy- an institution of
                            brilliance, to express my deepest gratitude for the sincere efforts and hard work of all the
                            members in adding colors to the dreams of our young hearts. I congratulate the authority for
                            taking up such a divine job in building the blocks for a healthy future of our wards and
                            ultimately for the world at large.  <br>
                            I offer my best wishes for the future endeavors of the Academy.
                        </p>
                    </div>
                </div>

                <div class="auth-message-area contaier" style="margin-top: 15rem;">
                    <div class="auth-img">
                        <div class="col-lg-4 col-sm-6 col-md-4">
                            <img class="image-fluid" src="{% static './img/teachers/MOMINA_KHANNAM.jpeg' %}" alt="">
                        </div>
                    </div>
                    <div class="message-area">
                        <h1 class="name text-capitalize">Message from Rector</h1>
                        <h4 class="writer-name text-capitalize">Dr. Momina Khannam</h4>
                        <p class="message-body">
                            <b>“The spread of civilization may be likened to a fire; first, a feeble spark, next a
                            flickering flame, then a mighty blaze, ever increasing in speed and power.”- Nikola Tesla </b> <br>
                            Deeply inspired by the thoughts of Nikola Tesla, we started the journey of Brilliant
                            Academy, North Lakhimpur, 2017, ensuring to create a spark in our young minds that would
                            later take the shape of a blazing fireball of enthusiasm and energy to excel in life.
                            Before anything else, I take this opportunity to thank you for showing your valuable
                            interest in our institution. I sincerely express my gratitude for all the hard work and
                            dedication of the authority for the establishment of this academy.
                            Our primary focus is to train our students to become persons with conscience, competence,
                            compassion and commitment. Along with academic excellence where the challenges they face in
                            life with critical and certain skills, we emphasize on fastening humanitarian excellence in
                            our students so that they grow up with empathy and social responsibility as their prime
                            focus. Ensuring the best moral character, our students shall learn to discriminate between
                            good and bad. For the last two years, Brilliant Academy has faithfully pursued these goals
                            with single-minded focus, commitment and dedication.
                            All our students, powerhouse of talent and resources, are nurtured through a proper process
                            of personal accomplishment rather than leaving them like the empty buckets filled with a
                            large amount of information. The college curriculum is designed to facilitate intellectual,
                            effective, moral and spiritual growth of each student through various extra-curricular,
                            co-curricular and curricular activities. To facilitate this, we have made a serious effort
                            to assemble a team of dedicated and enthusiastic faculty members. Our goal is to see the
                            academy excels in all the areas of academic excellence.
                            I take this opportunity as Rector to express my gratitude to Brilliant Academy and wish the
                            best for their future endeavors.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- main area  -->

    <!-- footer area -->
    {% include "components/footer.html" %}

    <!-- footer area -->

</body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous" async>
</script>

</html>