@import './fonts';

// colors
$color_white : #FFFFFF;
$color_black : #000000;
$color_yellow : #F79B20;
$color_blue : #0A93FE;
$color_green : #00E052;
$color_gray : #383838;
$color_moderate_gray: #5c5c5c;
$color_light_gray : #f0f0f088;


// gradients
$yellow_gradient : linear-gradient(40deg , #F57910 0%, #FFBC02 100%  );
$blue_gradient : linear-gradient(40deg , #0591FE 0%, #58B5FE 100% );


// fonts 
$poppins : 'Poppins', sans-serif;
$sarabun : 'Sarabun', sans-serif;
$vientnam : 'Be Vietnam', sans-serif;
$roboto : 'Roboto', sans-serif;