@import "./global/variable", "./global/footer", "./global/fonts", "./global/navigation", "./global/responsive";


main {
    margin-top: 10rem;
    .hero-area {
        .ml10 {
            @include title();
        }
    }
    section.section-1 {
        margin-top: 10rem;
        .button-area {
            margin-bottom: 1rem;
            button {
                border: none;
                background: none;
                margin-right: 3rem;
                @include mobile {
                    margin-right: 1rem;
                }
                a {
                    text-decoration: none;
                    color: $color_black;
                    font-family: $poppins;
                    font-weight: 500;
                    font-size: 20px;
                    @include mobile {
                        font-size: 16px;
                    }
                    &.active {
                        color: $color_yellow !important;
                        border-bottom: 2px solid $color_yellow;
                        border-bottom: 2px solid $color_yellow;
                    }
                }
            }
        }
        .grid {
            padding-top: 2rem;
            img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0.3rem;
                margin-bottom: 3rem;
                h1 {
                    font-family: $poppins;
                    font-size: 18px;
                    font-weight: 600;
                }
                .date-op {
                    font-family: $poppins;
                    font-size: 14px;
                }
            }
        }
    }
}
