{% load static %}

{% url 'home' as home %}
{% url 'admission' as admission %}
{% url 'admission_procedure' as admission_procedure %}
{% url 'announcement' as announcement %}
{% url 'gallery' as gallery  %}
{% url 'authority_messages' as authority_messages %}
{% url 'adMsg' as adMsg %}
{% url 'digMsg' as digMsg %}
{% url 'facility' as facility %}
{% url 'faculity' as faculity %}
{% url 'courses' as courses %}
{% url 'rules' as rules %}
{% url 'about' as about %}
{% url 'contact' as contact %}


<div class="main-nav">
    <nav class="navbar navbar-expand-lg navbar-light" id="main-menu">
        <div class="container">
            <!-- Left elements -->
            <a class="navbar-brand" href="/">
                <img src="{% static './img/logo.jpg' %}" alt="brilliant academy logo">
            </a>
            <!-- Left elements -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <!-- Center elements -->
                <ul class="navbar-nav ms-auto text-capitelize">
                    <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
                        <a class="nav-link {% if request.path == home %} active {% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == admission_procedure %} active {% endif %}" href="/register/" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admission
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/admission_procedure/">Admissoin Procedure</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'admission_procedure' %}#fees-structure">Fee
                                    Structure</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if request.path == courses %} active {% endif %}" aria-current="page" href="/courses/">Streams</a>
                    </li>
                    <li class="nav-item  {% block contactactive %}  {% endblock contactactive %}">
                        <a class="nav-link {% if request.path == contact %} active {% endif %}" href="/contact/">Contact</a>
                    </li>
                    <li class="nav-item  {% block aboutactive %}  {% endblock aboutactive %}">
                        <a class="nav-link {% if request.path == about %} active {% endif %}" href="/about/">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle 
                        {% if request.path == gallery %} active
                        {% elif request.path == facility %} active
                        {% elif request.path == faculity %} active
                        {% elif request.path == rules %} active
                        {% elif request.path == announcement %} active
                        {% elif request.path == authority_messages %} active
                        {% elif request.path == adMsg %} active
                        {% elif request.path == digMsg %} active
                        {% endif %}" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/gallery/">College Image Gallery</a></li>
                            <li><a class="dropdown-item" href="/facilities/">College Facilities</a></li>
                            <li><a class="dropdown-item" href="/faculity/">College Faculties</a></li>
                            <li><a class="dropdown-item" href="/rules&regulations/">Rules and
                                    Regulations</a></li>
                            <li><a class="dropdown-item" href="/announcement/">College Announcements</a></li>
                            <li><a class="dropdown-item" href="/msgAuth/">Message from Principal & BOD</a></li>
                            <li><a class="dropdown-item" href="/adMsg/">Administrative Message</a></li>
                            <li><a class="dropdown-item" href="/digMsg/">Message from dignitary</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Center elements -->

                <!-- Right elements  -->
                <div class="ms-auto Right">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" id="admission" aria-current="page" href="/accounts/logout/">Logout</a>
                        </li>
                        {% if user.is_admission_taken == True and user.is_paid == False %}
                        <li class="nav-item">
                            <a class="nav-link" id="admission" aria-current="page" href="/pay/">pay fees</a>
                        </li>
                        {% elif user.is_admission_taken == True and user.is_paid == True %}
                        <li class="nav-item">
                            <a class="nav-link" id="admission" aria-current="page" href="/show_pdf/">Download pdf</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" id="admission" aria-current="page" href="/admission/">admission</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" id="admission" aria-current="page" href="/accounts/register/">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="admission" aria-current="page" href="/accounts/login/">Login</a>
                        </li>
                        {% endif %}
                        <!-- <button class="btn btn-primary btnadmit" disabled>Admission not Open</button> -->

                    </ul>
                </div>
                <!-- Right elements -->
            </div>
        </div>
    </nav>
</div>