@import "./global/footer", "./global/navigation", "./global/responsive", "./global/variable";

main {
    margin-top: 10rem;
    .hero-area {
        .ml10 {
            @include title();
        }
    }
    section.section-1 {
        margin-top: 10rem;
        background: linear-gradient(#fffffff8 0%, #fffffff3 100%), url("https://brilliant-space.nyc3.digitaloceanspaces.com/brilliant-static/img/backgorund_icon.png");
        margin-top: 5rem;
        padding-bottom: 5rem;
        padding-top: 5rem;
        .form {
            label {
                font-family: $poppins;
                font-weight: 500;
            }

            input {
                font-family: $poppins;
                outline: none !important;
                &::placeholder {
                    font-family: $poppins;
                }
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            textarea {
                font-family: $poppins;
                height: 200px;
                &::placeholder {
                    font-family: $poppins;
                }
            }

            button {
                outline: none;
                border: none;
                background: $blue_gradient;
                font-family: $poppins !important;
                color: $color_white;
            }
        }
        .more-info {
            margin-top: 2rem;
            .title {
                font-family: $roboto;
                font-weight: 600;
                color: $color_blue;
            }
            p {
                font-family: $poppins;
                color: $color_moderate_gray;
            }
        }
    }
}
