@import './global/variable' ,'./global/responsive';



main{
    margin-bottom: 3rem;
    .heading{
        img{
            height: 150px;
            @include mobile{
                height: 100px;
            }
        }
        h1{
            font-family: $roboto;
            color: $color_yellow;
        }
    }
    .message-area{
        padding: 1.5rem;
        border-radius: 5px;
        margin-top: 3rem;
        margin-left: 5rem;
        margin-right: 2rem;
        background: #abe99b;
        box-shadow: 1px 1px 10px #52525231;
        @include tablet{
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
        h1{
            font-family: $poppins;
            border-bottom: 2px solid black;
            padding: .6rem;
            @include tablet{
                font-size: 25px;
            }
        }
        .message{
            font-family: $poppins;
            margin-top: 1rem;
            text-align: justify;
        }
        a.btn{
            background: $color_white;
            color: $color_black;
            font-family: $roboto;
            padding: 0%;
            padding: .5rem 2rem;
            &:active,
            &:focus{
                outline: 0;
                box-shadow: none;
            }
            &:hover{
                box-shadow: 1px 1px 10px #888888a9;
                background: $color_blue;
                color: $color_white;
            }

            @include tablet{
                margin-top: 1rem;
                text-align: center;
            }
        }
    }
}
