@import "tailwindcss";

@theme {
  --font-funnel-light: "FunnelLight", "sans-serif";
  --font-funnel: "Funnel", "sans-serif";
  --font-funnel-medium: "FunnelMedium", "sans-serif";
  --font-funnel-semi-bold: "FunnelSemiBold", "sans-serif";
  --font-funnel-bold: "UrbanistBold", "sans-serif";
}

@font-face {
  font-family: "FunnelLight";
  src: url("./assets/fonts/FunnelDisplay-Light.ttf");
}

@font-face {
  font-family: "Funnel";
  src: url("./assets/fonts/FunnelDisplay-Regular.ttf");
}

@font-face {
  font-family: "FunnelMedium";
  src: url("./assets/fonts/FunnelDisplay-Medium.ttf");
}

@font-face {
  font-family: "FunnelSemiBold";
  src: url("./assets/fonts/FunnelDisplay-SemiBold.ttf");
}

@font-face {
  font-family: "FunnelBold";
  src: url("./assets/fonts/FunnelDisplay-Bold.ttf");
}
