{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer-area row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="short-link">
                    <div class="head-footer">
                        <h3 class="link-head">
                            Short Links
                        </h3>
                        <div class="links">
                            <li class="shorlinks"><a class="a-link" href="/admission_procedure/">Admission Process Details</a></li>
                            <li class="shorlinks"><a class="a-link" href="/gallery/">College Gallery</a></li>
                            <li class="shorlinks"><a class="a-link" href="/rules&regulations/">Rules and Regulations</a></li>
                            <li class="shorlinks"><a class="a-link" href="#">Holiday List Download</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="short-link">
                    <div class="head-footer">
                        <h3 class="link-head">
                            Social Links
                        </h3>
                        <div class="links">
                            <a href="https://www.facebook.com/BrilliantEducationalTrust2017" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="https://wa.me/919365417166" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="short-link">
                    <div class="head-footer">
                        <h3 class="link-head">
                            Contact
                        </h3>
                        <div class="Contact">
                            <p class="para-add"><i class="fas fa-map-marker-alt"></i>Ward No:8. Cinatoliah Road,
                                North Lakhimpur, Assam 787001</p>
                            <p class="para-phone"><i class="fas fa-phone-alt"></i> +91 93654 17166</p>
                            <p class="para-phone"><i class="fas fa-envelope"></i>brillantacadamyjc@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 brilliant-cw">
                    Copyright © BrilliantAcademy 2021-22 (for developemt)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 adon-cw">
                    Developed by <a href="http://app.standout.digital/free/debanga/adon_tech_world"> Adon</a>
                </div>
            </div>
        </div>
    </div>
</footer>
