@import "./global/footer", "./global/navigation", "./global/responsive", "./global/variable";

main {
    margin-top: 10rem;
    .page-title {
        margin-top: 10rem;
        h1 {
            @include title();
        }
    }

    section.section-1 {
        margin-top: 5rem;
        .science {
            margin-bottom: 2rem;
            .title-science {
                h1 {
                    box-shadow: 1px 1px 10px #aaaaaa63;
                    color: $color_white;
                    border-radius: 5px;
                    padding: 0.5rem;
                    font-family: $roboto;
                    font-size: 35px;
                    background: $blue_gradient;
                    font-weight: 500;
                    @include tablet-m {
                        font-size: 25px;
                    }
                    i {
                        font-size: 25px;
                        @include tablet-m {
                            font-size: 15px;
                        }
                    }
                }
            }
            .subjects {
                transition: 0.5s ease;
                .general-body {
                    padding: 0.2rem;
                    border: 0;
                    h5 {
                        padding: .7rem;
                        border-radius: 2px;
                        font-family: $roboto;
                        color: $color_white;
                        @include mobile {
                            font-size: 15px;
                            padding: 0.6rem;
                        }
                    }
                    .general-content {
                        padding: 0;
                        margin: 0;
                        .info {
                            .alert {
                                border: 0;
                                background: none;
                                p {
                                    text-align: justify;
                                    margin: 0;
                                    font-family: $roboto;
                                    @include tablet-m {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        ul.general-subjects {
                            font-family: $roboto;
                            li {
                                border: 0;
                                border-bottom: 2px solid $color_black;
                                border-radius: 0;
                                text-align: justify;
                            }
                        }
                        ul#integrated {
                            li {
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
        .arts {
            .title-arts {
                h1 {
                    box-shadow: 1px 1px 10px #aaaaaa63;
                    color: $color_white;
                    border-radius: 5px;
                    padding: 0.5rem;
                    font-family: $roboto;
                    font-size: 35px;
                    background: $yellow_gradient;
                    font-weight: 500;
                    @include tablet-m {
                        font-size: 25px;
                    }
                    i {
                        font-size: 25px;
                        @include tablet-m {
                            font-size: 15px;
                        }
                    }
                }
            }
            #Arts{
                .card{
                    padding: 0.2rem;
                    border: 0;
                    ul{
                        border: 0;
                        li{
                            border: 0;
                            border-bottom: 2px solid $color_black;
                            border-radius: 0;
                            font-family: $roboto;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 10rem;
}
