@import './global/variable' , './global/responsive';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
   .registration{
       .registraton-form{
            .title{
                h1{
                    @include title();
                }
            }
            form{
                label{
                    font-family: $poppins;
                    font-weight: 500;
                }
                input.form-control{
                    &:focus{
                        background-color: $color_light_gray;
                        transition: .3s ease;
                        box-shadow: none !important;
                    }
                    border: none;
                    border-radius: 0;
                    border-bottom: 2px solid $color_moderate_gray;
                    font-family: $poppins;
                }
                span{
                    border: 0;
                    padding: .5rem;
                    border-bottom: 2px solid $color_moderate_gray;
                    background: none;
                    border-radius: 0;
                    cursor: pointer;
                }
                .tick-box{
                    border: 2px solid $color_moderate_gray;
                    border-radius: 3px;
                    cursor: pointer;
                    outline: 0;
                    &:focus{
                        box-shadow: none;
                    }
                }
                .submit-btn{
                    background: $yellow_gradient;
                    border: none;
                    margin-top: 5rem;
                    padding: .6rem 2rem;
                    i{
                        margin-left: 1.5rem;
                    }
                    font-family: $roboto;
                    font-weight: 500;
                    &:focus{
                        outline: 0;
                        box-shadow: none;
                    }
                    @include mobile{
                        font-size: 15px;
                        padding: .6rem 1.5rem;
                    }
                }
                .invalid-feedback,
                .valid-feedback{
                    font-family: $poppins
                }
            }
       }
   } 
}

